// src/styles/globals.css
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: 243, 82, 47;
    --color-success: 16, 185, 129;
}

@layer components {
    .text-primary {
        color: rgb(var(--color-primary));
    }
    
    .bg-primary {
        background-color: rgb(var(--color-primary));
    }
    
    .border-primary {
        border-color: rgb(var(--color-primary));
    }
    
    .ring-primary {
        --tw-ring-color: rgb(var(--color-primary));
    }

    .spinner {
        border: 3px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        border-top: 3px solid #F3522F;
        width: 40px;
        height: 40px;
        animation: spin 1s linear infinite;
      }
      
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
}