@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F7E1D7;
  --foreground: #232C33;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #232C33;
    --foreground: #F7E1D7;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}